@import url('https://fonts.googleapis.com/css2?family=Newsreader&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import './variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: $text_color;
}

ol {
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    color: black;
    font-weight: 600;
}

/* Layout */

body {
    background-color: $background_color;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

nav {
    // height: auto;
    max-height: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    position: fixed;
    top: 0;
    transition: 1s;

    > ul {
        list-style: none;

        display: flex;
        flex-direction: row;

        > li {
            margin: 1.7em 2.5em 1.7em 2.5em;

            > * {
                font-weight: 500;
                font-size: 1.2em;
            }

            > a:hover {
                font-weight: 900;
            }
        }
    }
    
}

#layoutdiv {
    height: 100vh;
}

.inputError {
    margin-top: 2rem;
}

footer {
    height: 30vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Startsidan */

#helastartdiv {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mindrestartdiv {
    margin-top: 6rem;
    margin-right: 25rem;
    margin-left: 5rem;
}

#startrubrik {
    font-size: 5em;
    margin-bottom: 1.8rem;
}

#startinfodiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    margin: 5rem;
    height: 100vh;
}

/* Registreringssidan */

#helaregistreringsdiv {
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #mindreregistreringdiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 5rem;
        width: 35vw;
        margin: 10rem;
    
        background-color: $div_backcolor;
        border-radius: $radius;
    
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: auto;
            width: 25vw;
    
            * {
                margin: 0.5rem;
            }
    
            input {
                padding: 12px 20px;
                border-radius: $radius;
            }

            input[type="checkbox"] {
                background-color: $sumbit_button;
                cursor: pointer;
            }

            input[type="checkbox"]:hover {
                background-color: $sumbit_button_hover;
            }

            input[type="checkbox"]:active {
                background-color: $sumbit_button_active;
            }
    
            input[type="submit"] {
                background-color: $sumbit_button;
            }
    
            input[type="submit"]:hover {
                background-color: $sumbit_button_hover;
                cursor: pointer;
            }
    
            input[type="submit"]:active {
                background-color: $sumbit_button_active;
            }  
        }
    }
}


/* Loginsidan */

#helalogindiv {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #mindrelogindiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70vh;
        width: 35vw;

        background-color: $div_backcolor;
        border-radius: $radius;

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 40vh;
            width: 25vw;

            * {
                margin: 0.5rem;
            }

            input {
                padding: 12px 20px;
                border-radius: $radius;
            }

            input[type="submit"] {
                background-color: $sumbit_button;
            }

            input[type="submit"]:hover {
                background-color: $sumbit_button_hover;
                cursor: pointer;
            }

            input[type="submit"]:active {
                background-color: $sumbit_button_active;
            }
               
        }
    }
}

/* Postssidan */

#helapostsdiv {
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #mindrepostsdiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 7rem;

        .dropdown {
            position: relative;
            display: inline-block;


            .dropBtn {
                background-color: $div_backcolor;
                border-radius: $radius;
                padding: 1.5rem;
                font-size: 1.7em;
                font-weight: 650;
                width: 20vw;
                border: none;
            }

            .dropdownContent {
                display: none;
                position: absolute;
                background-color: $dropdown_backcolor;
                border-radius: $radius;
                width: 20vw;
                min-width: 5vw;
                box-shadow: $box_shadow;
                z-index: 1;

                a {
                    padding: 1em 2em;
                    text-decoration: none;
                    display: block;
                }

                a:hover {
                    background-color: $dropdown_hover;
                }
            }
        }

        .dropdown:hover {
            .dropdownContent {
                display: block;
            }

            .dropBtn {
                background-color: $button_hover;
            }
        }


        #postList {
            display: flex;
            flex-direction: column-reverse;

            li {
                margin: 3rem;
                padding: 3rem;
                background-color: $div_backcolor;
                border-radius: $radius; 
    
                #divInListObject {
                    display: flex;
                    flex-direction: column;
                    max-width: 50vw;

                    #divForCreator {
                        display: flex;
                        flex-direction: row;
                        align-items: baseline;

                        a {
                            border-bottom: 1px solid $div_backcolor;
                            margin: 0 2em 0 0;
                        }
                        
                        a:hover {
                            border-bottom: 1px solid $text_color;
                            font-weight: 900;
                        }

                        p {
                            font-size: 0.8em;
                        }
                    }

                    #divForContent {
                        display: flex;
                        flex-direction: column;
                        margin: 2rem 0 2rem 0;

                        * {
                            margin: 0 0 0.5em 0;
                        }
                    }

                    .divForUnderPost {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        div {
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;

                            a {
                                display: block;
                                color: $background_color;
                                padding: 0.5em 2em;
                                background-color: $sumbit_button;
                                border-radius: $radius;
                                font-size: 1em;
                            }

                            a:hover {
                                cursor: pointer;
                                background-color: $sumbit_button_hover;
                            }

                            
                            a:active {
                                background-color: $sumbit_button_active;
                            }

                            .deleteButton {
                                padding: 0.5em 2em;
                                background-color: $confirmDeleteBackground;
                                border-style: none;
                                border-radius: $radius;
                                font-size: 1em;
                                margin: 0;
                            }

                            .deleteButton:hover {
                                cursor: pointer;
                                background-color: $confirmDeleteHover;
                            }
                            
                            .deleteButton:active {
                                background-color: $sumbit_button_active;
                            }
                        }

                        #modalDiv {
                            display: none; 

                            .container {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                position: fixed; 
                                z-index: 1;
                                left: 0;
                                top: 0;
                                width: 100%;
                                height: 100%;
                                overflow: auto;
                                background-color: $div_backcolor;
                                
                                #deleteBack {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    flex-direction: column;

                                    background-color: $background_color;
                                    margin: 0;
                                    width: 65%;
                                    padding: 3rem;
                                    border-radius: $radius;

                                    .deleteChoice {
                                        button {
                                            width: 20vw;
                                            border-style: none;
                                            padding: 0.8em;
                                            margin: 1rem;
                                            border-radius: $radius;
                                        }

                                        .cancelBtn {
                                            background-color: $cancelBtnBackground;
                                        }

                                        .cancelBtn:hover {
                                            background-color: $cancelBtnHover;
                                            cursor: pointer;
                                        }

                                        .cancelBtn:active {
                                            background-color: $cancelBtnActive;
                                            cursor: pointer;
                                        }

                                        .confirmDelete {
                                            background-color: $confirmDeleteBackground;
                                        }

                                        .confirmDelete:hover {
                                            background-color: $confirmDeleteHover;
                                            cursor: pointer;
                                        }

                                        .confirmDelete:active {
                                            background-color: $confirmDeleteActive;
                                            cursor: pointer;
                                        }
                                    }

                                    form {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        flex-direction: column;

                                        * {
                                            margin: 0;
                                        }

                                        h1 {
                                            padding: 0.4em;
                                            margin-bottom: 1rem;
                                        }

                                        p {
                                            margin-bottom: 2rem;
                                        }

                                        
                                    }
                                }
                            }

                        }

                    }

                    #underPostLike {
                        justify-content: flex-start;
                    }  

                        * {
                            margin: 0 2em 0 0;
                        }

                        .likeForm {
                            width: 5vw;

                            img {
                                max-width: 100%;
                                cursor: pointer;
                            }
                        }
                }   
            }
        }
    }
}


#newPostDiv {
    position: fixed;
    bottom: 10vh;
    right: 10vw;

    #newPostLink {
        background-color: $div_backcolor;
        padding: 10px;
        border-radius: $radius;
    }

    #newPostLink:hover {
        background-color: $button_hover;
    }

    #newPostLink:active {
        background-color: $button_active;
    }
}

/* Nypostsidan */

#helanewpostdiv {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #mindrenewpostdiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70vh;
        width: 35vw;
    
        background-color: $div_backcolor;
        border-radius: $radius;
    
        
        h2 {
            margin-bottom: 1.5rem;
        }
    
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 40vh;
            width: 25vw;
    
            * {
                margin: 0.5rem;
            }
    
            input {
                padding: 12px 20px;
                border-radius: $radius;
            }
    
            input[type="submit"] {
                background-color: $sumbit_button;
            }
    
            input[type="submit"]:hover {
                background-color: $sumbit_button_hover;
                cursor: pointer;
            }
    
            input[type="submit"]:active {
                background-color: $sumbit_button_active;
            }
        }
    }
}


/* Updatepostsidan */

#helaupdatediv {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #mindreupdatediv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70vh;
        width: 35vw;
    
        background-color: $div_backcolor;
        border-radius: $radius;
    
        h2 {
            margin-bottom: 1.5rem;
        }
    
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 40vh;
            width: 25vw;
    
            * {
                margin: 0.5rem;
            }
    
            input {
                padding: 12px 20px;
                border-radius: $radius;
            }
    
            input[type="submit"] {
                background-color: $sumbit_button;
            }
    
            input[type="submit"]:hover {
                background-color: $sumbit_button_hover;
                cursor: pointer;
            }
    
            input[type="submit"]:active {
                background-color: $sumbit_button_active;
            }
        }
    }
}


/* Profilsidan */

#helaprofildiv {
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #mindreprofildiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 3rem 0;

        .listProfilDiv {
            height: auto;
            width: 35vw;
            padding: 4rem 6rem;
            margin: 3rem 0;

            background-color: $div_backcolor;
            border-radius: $radius;

            ol {
                h1 {
                    margin-bottom: 2.5rem;
                }

                img{
                    max-width: 40%;
                }

                li {
                    margin: 1rem 0;
            
                    p {
                        margin-bottom: 1.5rem;
                    }

                    ul {
                        margin-left: 2rem;

                        li {
                            p {
                                margin: 0;
                            }
                        }
                    }
                }
            }
            
            div {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-top: 3rem;

                a {
                    display: block;
                    padding: 0.5em 2em;
                    font-size: 1em;
                    background-color: $sumbit_button;
                    border-radius: $radius;
                    color: $background_color;
                }

                a:hover {
                    cursor: pointer;
                    background-color: $sumbit_button_hover;
                }

                
                a:active {
                    background-color: $sumbit_button_active;
                }
            }
        }

        #postList {
            display: flex;
            flex-direction: column-reverse;
            width: 65vw;

            li {
                margin: 3rem;
                padding: 3rem;
                background-color: $div_backcolor;
                border-radius: $radius; 
    
                #divInListObject {
                    display: flex;
                    flex-direction: column;
                    max-width: 65vw;

                    #divForCreator {
                        display: flex;
                        flex-direction: row;
                        align-items: baseline;

                        a {
                            border-bottom: 1px solid $div_backcolor;
                            margin: 0 2em 0 0;
                        }
                        
                        a:hover {
                            border-bottom: 1px solid $text_color;
                            font-weight: 900;
                        }

                        p {
                            font-size: 0.8em;
                        }
                    }

                    #divForContent {
                        display: flex;
                        flex-direction: column;
                        margin: 2rem 0 2rem 0;

                        * {
                            margin: 0 0 0.5em 0;
                        }
                    }

                    .divForUnderPost {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        div {
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            margin: 0;

                            a {
                                display: block;
                                color: $background_color;
                                padding: 0.5em 2em;
                                background-color: $sumbit_button;
                                border-radius: $radius;
                                font-size: 1em;
                            }

                            a:hover {
                                cursor: pointer;
                                background-color: $sumbit_button_hover;
                            }

                            
                            a:active {
                                background-color: $sumbit_button_active;
                            }

                            .deleteButton {
                                padding: 0.5em 2em;
                                background-color: $confirmDeleteBackground;
                                border-style: none;
                                border-radius: $radius;
                                font-size: 1em;
                                margin: 0;
                            }

                            .deleteButton:hover {
                                cursor: pointer;
                                background-color: $confirmDeleteHover;
                            }
                            
                            .deleteButton:active {
                                background-color: $sumbit_button_active;
                            }
                        }

                        #modalDiv {
                            display: none; 

                            .container {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                position: fixed; 
                                z-index: 1;
                                left: 0;
                                top: 0;
                                width: 100%;
                                height: 100%;
                                overflow: auto;
                                background-color: $div_backcolor;
                                
                                #deleteBack {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    flex-direction: column;

                                    background-color: $background_color;
                                    margin: 0;
                                    width: 65%;
                                    padding: 3rem;
                                    border-radius: $radius;

                                    .deleteChoice {
                                        button {
                                            width: 20vw;
                                            border-style: none;
                                            padding: 0.8em;
                                            margin: 1rem;
                                            border-radius: $radius;
                                        }

                                        .cancelBtn {
                                            background-color: $cancelBtnBackground;
                                        }

                                        .cancelBtn:hover {
                                            background-color: $cancelBtnHover;
                                            cursor: pointer;
                                        }

                                        .cancelBtn:active {
                                            background-color: $cancelBtnActive;
                                            cursor: pointer;
                                        }

                                        .confirmDelete {
                                            background-color: $confirmDeleteBackground;
                                        }

                                        .confirmDelete:hover {
                                            background-color: $confirmDeleteHover;
                                            cursor: pointer;
                                        }

                                        .confirmDelete:active {
                                            background-color: $confirmDeleteActive;
                                            cursor: pointer;
                                        }
                                    }

                                    form {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        flex-direction: column;

                                        * {
                                            margin: 0;
                                        }

                                        h1 {
                                            padding: 0.4em;
                                            margin-bottom: 1rem;
                                        }

                                        p {
                                            margin-bottom: 2rem;
                                        }

                                        
                                    }
                                }
                            }

                        }

                    }

                    #underPostLike {
                        justify-content: flex-start;
                    }  

                        * {
                            margin: 0 2em 0 0;
                        }

                        .likeForm {
                            width: 5vw;

                            img {
                                max-width: 100%;
                                cursor: pointer;
                            }
                        }
                }  
            }
        }
    }
}



/* EditProfilsidan */

#editProfile {
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #smallereditProfile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 5rem;
        width: 35vw;
        margin: 10rem;
    
        background-color: $div_backcolor;
        border-radius: $radius;

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: auto;
            width: 25vw;
    
            * {
                margin: 0.5rem;
            }
    
            input {
                padding: 12px 20px;
                border-radius: $radius;
            }

            input[type="checkbox"] {
                background-color: $sumbit_button;
                cursor: pointer;
            }

            input[type="checkbox"]:hover {
                background-color: $sumbit_button_hover;
            }

            input[type="checkbox"]:active {
                background-color: $sumbit_button_active;
            }
    
            input[type="submit"] {
                background-color: $sumbit_button;
            }
    
            input[type="submit"]:hover {
                background-color: $sumbit_button_hover;
                cursor: pointer;
            }
    
            input[type="submit"]:active {
                background-color: $sumbit_button_active;
            }  
        }
    }
}


/* Errorsidan */

#helaErrorDiv {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}