@import url('https://fonts.googleapis.com/css2?family=Newsreader&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import './variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

ol {
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    color: black;
}

img {
    max-width: 5%;
}

/* Layout */

body {
    background-color: $background_color;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

nav {
    // height: auto;
    max-height: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    position: fixed;
    top: 0;
    transition: 1s;

    > ul {
        list-style: none;

        display: flex;
        flex-direction: row;

        > li {
            margin: 1.7em 2.5em 1.7em 2.5em;

            > * {
                font-weight: 500;
                font-size: 1.2em;
            }

            > a:hover {
                font-weight: 900;
            }
        }
    }
    
}

#layoutdiv {
    height: 100vh;
}

footer {
    height: 30vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Startsidan */

#helastartdiv {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mindrestartdiv {
    margin-top: 6rem;
    margin-right: 25rem;
    margin-left: 5rem;
}

#startrubrik {
    font-size: 5em;
    margin-bottom: 1.8rem;
}

#startinfodiv {
    height: 100vh;
}

/* Registreringssidan */

#helaregistreringsdiv {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mindreregistreringdiv {
    margin-top: 6rem;
    margin-right: 25rem;
    margin-left: 5rem;
}

/* Loginsidan */

#helalogindiv {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #mindrelogindiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // margin-top: 6rem;
        // margin-right: 25rem;
        // margin-left: 5rem;
        height: 70vh;
        width: 35vw;

        background-color: $div_backcolor;
        border-radius: $radius;

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            // align-items: center;
            height: 40vh;
            width: 25vw;
            * {
                margin: 0.5rem;
            }
        }
    }
}

/* Postssidan */

#helapostsdiv {
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mindrepostsdiv {
    margin-top: 6rem;
    margin-right: 25rem;
    margin-left: 5rem;

    #newPostDiv {
        position: fixed;
        bottom: 10vh;
        right: 10vw;

        #newPostLink {
            background-color: $div_backcolor;
            padding: 10px;
            border-radius: $radius;
        }

        #newPostLink:hover {
            background-color: $button_hover;
        }

        #newPostLink:active {
            background-color: $button_active;
        }
    }
}

/* Nypostsidan */

#helanewpostdiv {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mindrenewpostdiv {
    margin-top: 6rem;
    margin-right: 25rem;
    margin-left: 5rem;
}

/* Updatepostsidan */

#helaupdatediv {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mindreupdatediv {
    margin-top: 6rem;
    margin-right: 25rem;
    margin-left: 5rem;
}

/* Profilsidan */

#helaprofildiv {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mindreprofildiv {
    margin-top: 6rem;
    margin-right: 25rem;
    margin-left: 5rem;
}

