@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

$background_color: rgb(0, 0, 0);

$div_backcolor: rgba(199, 199, 199, 0.178);

$button_hover: rgba(163, 163, 163, 0.178);

$button_active: rgba(156, 102, 102, 0.2);

$radius: 6px;