@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

$background_color: rgb(0, 0, 0);
$text_color: #FFFFFF;

$div_backcolor: rgba(199, 199, 199, 0.178);
$button_hover: rgba(163, 163, 163, 0.178);
$button_active: rgba(156, 102, 102, 0.2);

$dropdown_backcolor: rgba(65, 65, 65, 0.9);
$dropdown_hover: rgba(32, 32, 32, 0.9);

$cancelBtnBackground: rgb(167, 167, 167);
$cancelBtnHover: rgb(134, 134, 134);
$cancelBtnActive: rgb(102, 102, 102);

$confirmDeleteBackground: rgb(255, 45, 45);
$confirmDeleteHover: rgb(197, 37, 37);
$confirmDeleteActive: rgb(136, 25, 25);

$sumbit_button: rgb(255, 255, 255);
$sumbit_button_hover: rgb(184, 184, 184);
$sumbit_button_active: rgb(185, 164, 164);

$radius: 6px;
$box_shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.719);