@import url("https://fonts.googleapis.com/css2?family=Newsreader&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
}

ol {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  color: black;
  font-weight: 600;
}

img {
  max-width: 5%;
}

/* Layout */
body {
  background-color: black;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

nav {
  max-height: auto;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: fixed;
  top: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

nav > ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav > ul > li {
  margin: 1.7em 2.5em 1.7em 2.5em;
}

nav > ul > li > * {
  font-weight: 500;
  font-size: 1.2em;
}

nav > ul > li > a:hover {
  font-weight: 900;
}

#layoutdiv {
  height: 100vh;
}

footer {
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Startsidan */
#helastartdiv {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mindrestartdiv {
  margin-top: 6rem;
  margin-right: 25rem;
  margin-left: 5rem;
}

#startrubrik {
  font-size: 5em;
  margin-bottom: 1.8rem;
}

#startinfodiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 5rem;
  height: 100vh;
}

/* Registreringssidan */
#helaregistreringsdiv {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#helaregistreringsdiv #mindreregistreringdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  padding: 5rem;
  width: 35vw;
  margin: 10rem;
  background-color: rgba(199, 199, 199, 0.178);
  border-radius: 6px;
}

#helaregistreringsdiv #mindreregistreringdiv form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  width: 25vw;
}

#helaregistreringsdiv #mindreregistreringdiv form * {
  margin: 0.5rem;
}

#helaregistreringsdiv #mindreregistreringdiv form input {
  padding: 12px 20px;
  border-radius: 6px;
}

#helaregistreringsdiv #mindreregistreringdiv form input[type="submit"] {
  background-color: white;
}

#helaregistreringsdiv #mindreregistreringdiv form input[type="submit"]:hover {
  background-color: #b8b8b8;
  cursor: pointer;
}

#helaregistreringsdiv #mindreregistreringdiv form input[type="submit"]:active {
  background-color: #b9a4a4;
}

/* Loginsidan */
#helalogindiv {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#helalogindiv #mindrelogindiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70vh;
  width: 35vw;
  background-color: rgba(199, 199, 199, 0.178);
  border-radius: 6px;
}

#helalogindiv #mindrelogindiv form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40vh;
  width: 25vw;
}

#helalogindiv #mindrelogindiv form * {
  margin: 0.5rem;
}

#helalogindiv #mindrelogindiv form input {
  padding: 12px 20px;
  border-radius: 6px;
}

#helalogindiv #mindrelogindiv form input[type="submit"] {
  background-color: white;
}

#helalogindiv #mindrelogindiv form input[type="submit"]:hover {
  background-color: #b8b8b8;
  cursor: pointer;
}

#helalogindiv #mindrelogindiv form input[type="submit"]:active {
  background-color: #b9a4a4;
}

/* Postssidan */
#helapostsdiv {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#helapostsdiv #mindrepostsdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 7rem;
}

#helapostsdiv #mindrepostsdiv #postList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

#helapostsdiv #mindrepostsdiv #postList li {
  margin: 3rem;
  padding: 3rem;
  background-color: rgba(199, 199, 199, 0.178);
  border-radius: 6px;
}

#helapostsdiv #mindrepostsdiv #postList li #divInListObject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 50vw;
}

#helapostsdiv #mindrepostsdiv #postList li #divInListObject #divForCreator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

#helapostsdiv #mindrepostsdiv #postList li #divInListObject #divForCreator a {
  border-bottom: 1px solid rgba(199, 199, 199, 0.178);
  margin: 0 2em 0 0;
}

#helapostsdiv #mindrepostsdiv #postList li #divInListObject #divForCreator a:hover {
  border-bottom: 1px solid #FFFFFF;
  font-weight: 900;
}

#helapostsdiv #mindrepostsdiv #postList li #divInListObject #divForCreator p {
  font-size: 0.8em;
}

#helapostsdiv #mindrepostsdiv #postList li #divInListObject #divForContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem 0 2rem 0;
}

#helapostsdiv #mindrepostsdiv #postList li #divInListObject #divForContent * {
  margin: 0 0 0.5em 0;
}

#helapostsdiv #mindrepostsdiv #postList li #divInListObject #divForUnderPost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#helapostsdiv #mindrepostsdiv #postList li #divInListObject #divForUnderPost * {
  margin: 0 2em 0 0;
}

#helapostsdiv #mindrepostsdiv #postList li #divInListObject #divForUnderPost .likeForm {
  width: 5vw;
}

#helapostsdiv #mindrepostsdiv #postList li #divInListObject #divForUnderPost .likeForm img {
  max-width: 100%;
}

#newPostDiv {
  position: fixed;
  bottom: 10vh;
  right: 10vw;
}

#newPostDiv #newPostLink {
  background-color: rgba(199, 199, 199, 0.178);
  padding: 10px;
  border-radius: 6px;
}

#newPostDiv #newPostLink:hover {
  background-color: rgba(163, 163, 163, 0.178);
}

#newPostDiv #newPostLink:active {
  background-color: rgba(156, 102, 102, 0.2);
}

/* Nypostsidan */
#helanewpostdiv {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mindrenewpostdiv {
  margin-top: 6rem;
  margin-right: 25rem;
  margin-left: 5rem;
}

/* Updatepostsidan */
#helaupdatediv {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mindreupdatediv {
  margin-top: 6rem;
  margin-right: 25rem;
  margin-left: 5rem;
}

/* Profilsidan */
#helaprofildiv {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mindreprofildiv {
  margin-top: 6rem;
  margin-right: 25rem;
  margin-left: 5rem;
}

/* Errorsidan */
#helaErrorDiv {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */