@import url("https://fonts.googleapis.com/css2?family=Newsreader&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
}

ol {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  color: black;
  font-weight: 600;
}

/* Layout */
body {
  background-color: black;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

nav {
  max-height: auto;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: fixed;
  top: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

nav > ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav > ul > li {
  margin: 1.7em 2.5em 1.7em 2.5em;
}

nav > ul > li > * {
  font-weight: 500;
  font-size: 1.2em;
}

nav > ul > li > a:hover {
  font-weight: 900;
}

#layoutdiv {
  height: 100vh;
}

footer {
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Startsidan */
#helastartdiv {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mindrestartdiv {
  margin-top: 6rem;
  margin-right: 25rem;
  margin-left: 5rem;
}

#startrubrik {
  font-size: 5em;
  margin-bottom: 1.8rem;
}

#startinfodiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 5rem;
  height: 100vh;
}

/* Registreringssidan */
#helaregistreringsdiv {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#helaregistreringsdiv #mindreregistreringdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  padding: 5rem;
  width: 35vw;
  margin: 10rem;
  background-color: rgba(199, 199, 199, 0.178);
  border-radius: 6px;
}

#helaregistreringsdiv #mindreregistreringdiv form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  width: 25vw;
}

#helaregistreringsdiv #mindreregistreringdiv form * {
  margin: 0.5rem;
}

#helaregistreringsdiv #mindreregistreringdiv form input {
  padding: 12px 20px;
  border-radius: 6px;
}

#helaregistreringsdiv #mindreregistreringdiv form input[type="checkbox"] {
  background-color: white;
  cursor: pointer;
}

#helaregistreringsdiv #mindreregistreringdiv form input[type="checkbox"]:hover {
  background-color: #b8b8b8;
}

#helaregistreringsdiv #mindreregistreringdiv form input[type="checkbox"]:active {
  background-color: #b9a4a4;
}

#helaregistreringsdiv #mindreregistreringdiv form input[type="submit"] {
  background-color: white;
}

#helaregistreringsdiv #mindreregistreringdiv form input[type="submit"]:hover {
  background-color: #b8b8b8;
  cursor: pointer;
}

#helaregistreringsdiv #mindreregistreringdiv form input[type="submit"]:active {
  background-color: #b9a4a4;
}

/* Loginsidan */
#helalogindiv {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#helalogindiv #mindrelogindiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70vh;
  width: 35vw;
  background-color: rgba(199, 199, 199, 0.178);
  border-radius: 6px;
}

#helalogindiv #mindrelogindiv form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40vh;
  width: 25vw;
}

#helalogindiv #mindrelogindiv form * {
  margin: 0.5rem;
}

#helalogindiv #mindrelogindiv form input {
  padding: 12px 20px;
  border-radius: 6px;
}

#helalogindiv #mindrelogindiv form input[type="submit"] {
  background-color: white;
}

#helalogindiv #mindrelogindiv form input[type="submit"]:hover {
  background-color: #b8b8b8;
  cursor: pointer;
}

#helalogindiv #mindrelogindiv form input[type="submit"]:active {
  background-color: #b9a4a4;
}

/* Postssidan */
#helapostsdiv {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#helapostsdiv #mindrepostsdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 7rem;
}

#helapostsdiv #mindrepostsdiv .dropdown {
  position: relative;
  display: inline-block;
}

#helapostsdiv #mindrepostsdiv .dropdown .dropBtn {
  background-color: rgba(199, 199, 199, 0.178);
  border-radius: 6px;
  padding: 1.5rem;
  font-size: 1.7em;
  font-weight: 650;
  width: 20vw;
  border: none;
}

#helapostsdiv #mindrepostsdiv .dropdown .dropdownContent {
  display: none;
  position: absolute;
  background-color: rgba(65, 65, 65, 0.9);
  border-radius: 6px;
  width: 20vw;
  min-width: 5vw;
  -webkit-box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.719);
          box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.719);
  z-index: 1;
}

#helapostsdiv #mindrepostsdiv .dropdown .dropdownContent a {
  padding: 1em 2em;
  text-decoration: none;
  display: block;
}

#helapostsdiv #mindrepostsdiv .dropdown .dropdownContent a:hover {
  background-color: rgba(32, 32, 32, 0.9);
}

#helapostsdiv #mindrepostsdiv .dropdown:hover .dropdownContent {
  display: block;
}

#helapostsdiv #mindrepostsdiv .dropdown:hover .dropBtn {
  background-color: rgba(163, 163, 163, 0.178);
}

#helapostsdiv #mindrepostsdiv #postList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

#helapostsdiv #mindrepostsdiv #postList li {
  margin: 3rem;
  padding: 3rem;
  background-color: rgba(199, 199, 199, 0.178);
  border-radius: 6px;
}

#helapostsdiv #mindrepostsdiv #postList li #divInListObject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 50vw;
}

#helapostsdiv #mindrepostsdiv #postList li #divInListObject #divForCreator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

#helapostsdiv #mindrepostsdiv #postList li #divInListObject #divForCreator a {
  border-bottom: 1px solid rgba(199, 199, 199, 0.178);
  margin: 0 2em 0 0;
}

#helapostsdiv #mindrepostsdiv #postList li #divInListObject #divForCreator a:hover {
  border-bottom: 1px solid #FFFFFF;
  font-weight: 900;
}

#helapostsdiv #mindrepostsdiv #postList li #divInListObject #divForCreator p {
  font-size: 0.8em;
}

#helapostsdiv #mindrepostsdiv #postList li #divInListObject #divForContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem 0 2rem 0;
}

#helapostsdiv #mindrepostsdiv #postList li #divInListObject #divForContent * {
  margin: 0 0 0.5em 0;
}

#helapostsdiv #mindrepostsdiv #postList li #divInListObject .divForUnderPost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#helapostsdiv #mindrepostsdiv #postList li #divInListObject .divForUnderPost div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#helapostsdiv #mindrepostsdiv #postList li #divInListObject .divForUnderPost div a {
  display: block;
  color: black;
  padding: 0.5em 2em;
  background-color: white;
  border-radius: 6px;
  font-size: 1em;
}

#helapostsdiv #mindrepostsdiv #postList li #divInListObject .divForUnderPost div a:hover {
  cursor: pointer;
  background-color: #b8b8b8;
}

#helapostsdiv #mindrepostsdiv #postList li #divInListObject .divForUnderPost div a:active {
  background-color: #b9a4a4;
}

#helapostsdiv #mindrepostsdiv #postList li #divInListObject .divForUnderPost div .deleteButton {
  padding: 0.5em 2em;
  background-color: #ff2d2d;
  border-style: none;
  border-radius: 6px;
  font-size: 1em;
  margin: 0;
}

#helapostsdiv #mindrepostsdiv #postList li #divInListObject .divForUnderPost div .deleteButton:hover {
  cursor: pointer;
  background-color: #c52525;
}

#helapostsdiv #mindrepostsdiv #postList li #divInListObject .divForUnderPost div .deleteButton:active {
  background-color: #b9a4a4;
}

#helapostsdiv #mindrepostsdiv #postList li #divInListObject .divForUnderPost #modalDiv {
  display: none;
}

#helapostsdiv #mindrepostsdiv #postList li #divInListObject .divForUnderPost #modalDiv .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(199, 199, 199, 0.178);
}

#helapostsdiv #mindrepostsdiv #postList li #divInListObject .divForUnderPost #modalDiv .container #deleteBack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: black;
  margin: 0;
  width: 65%;
  padding: 3rem;
  border-radius: 6px;
}

#helapostsdiv #mindrepostsdiv #postList li #divInListObject .divForUnderPost #modalDiv .container #deleteBack .deleteChoice button {
  width: 20vw;
  border-style: none;
  padding: 0.8em;
  margin: 1rem;
  border-radius: 6px;
}

#helapostsdiv #mindrepostsdiv #postList li #divInListObject .divForUnderPost #modalDiv .container #deleteBack .deleteChoice .cancelBtn {
  background-color: #a7a7a7;
}

#helapostsdiv #mindrepostsdiv #postList li #divInListObject .divForUnderPost #modalDiv .container #deleteBack .deleteChoice .cancelBtn:hover {
  background-color: #868686;
  cursor: pointer;
}

#helapostsdiv #mindrepostsdiv #postList li #divInListObject .divForUnderPost #modalDiv .container #deleteBack .deleteChoice .cancelBtn:active {
  background-color: #666666;
  cursor: pointer;
}

#helapostsdiv #mindrepostsdiv #postList li #divInListObject .divForUnderPost #modalDiv .container #deleteBack .deleteChoice .confirmDelete {
  background-color: #ff2d2d;
}

#helapostsdiv #mindrepostsdiv #postList li #divInListObject .divForUnderPost #modalDiv .container #deleteBack .deleteChoice .confirmDelete:hover {
  background-color: #c52525;
  cursor: pointer;
}

#helapostsdiv #mindrepostsdiv #postList li #divInListObject .divForUnderPost #modalDiv .container #deleteBack .deleteChoice .confirmDelete:active {
  background-color: #881919;
  cursor: pointer;
}

#helapostsdiv #mindrepostsdiv #postList li #divInListObject .divForUnderPost #modalDiv .container #deleteBack form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#helapostsdiv #mindrepostsdiv #postList li #divInListObject .divForUnderPost #modalDiv .container #deleteBack form * {
  margin: 0;
}

#helapostsdiv #mindrepostsdiv #postList li #divInListObject .divForUnderPost #modalDiv .container #deleteBack form h1 {
  padding: 0.4em;
  margin-bottom: 1rem;
}

#helapostsdiv #mindrepostsdiv #postList li #divInListObject .divForUnderPost #modalDiv .container #deleteBack form p {
  margin-bottom: 2rem;
}

#helapostsdiv #mindrepostsdiv #postList li #divInListObject * {
  margin: 0 2em 0 0;
}

#helapostsdiv #mindrepostsdiv #postList li #divInListObject .likeForm {
  width: 5vw;
}

#helapostsdiv #mindrepostsdiv #postList li #divInListObject .likeForm img {
  max-width: 100%;
}

#helapostsdiv #mindrepostsdiv #postList li #underPostLike {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#newPostDiv {
  position: fixed;
  bottom: 10vh;
  right: 10vw;
}

#newPostDiv #newPostLink {
  background-color: rgba(199, 199, 199, 0.178);
  padding: 10px;
  border-radius: 6px;
}

#newPostDiv #newPostLink:hover {
  background-color: rgba(163, 163, 163, 0.178);
}

#newPostDiv #newPostLink:active {
  background-color: rgba(156, 102, 102, 0.2);
}

/* Nypostsidan */
#helanewpostdiv {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#helanewpostdiv #mindrenewpostdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70vh;
  width: 35vw;
  background-color: rgba(199, 199, 199, 0.178);
  border-radius: 6px;
}

#helanewpostdiv #mindrenewpostdiv h2 {
  margin-bottom: 1.5rem;
}

#helanewpostdiv #mindrenewpostdiv form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40vh;
  width: 25vw;
}

#helanewpostdiv #mindrenewpostdiv form * {
  margin: 0.5rem;
}

#helanewpostdiv #mindrenewpostdiv form input {
  padding: 12px 20px;
  border-radius: 6px;
}

#helanewpostdiv #mindrenewpostdiv form input[type="submit"] {
  background-color: white;
}

#helanewpostdiv #mindrenewpostdiv form input[type="submit"]:hover {
  background-color: #b8b8b8;
  cursor: pointer;
}

#helanewpostdiv #mindrenewpostdiv form input[type="submit"]:active {
  background-color: #b9a4a4;
}

/* Updatepostsidan */
#helaupdatediv {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#helaupdatediv #mindreupdatediv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70vh;
  width: 35vw;
  background-color: rgba(199, 199, 199, 0.178);
  border-radius: 6px;
}

#helaupdatediv #mindreupdatediv h2 {
  margin-bottom: 1.5rem;
}

#helaupdatediv #mindreupdatediv form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40vh;
  width: 25vw;
}

#helaupdatediv #mindreupdatediv form * {
  margin: 0.5rem;
}

#helaupdatediv #mindreupdatediv form input {
  padding: 12px 20px;
  border-radius: 6px;
}

#helaupdatediv #mindreupdatediv form input[type="submit"] {
  background-color: white;
}

#helaupdatediv #mindreupdatediv form input[type="submit"]:hover {
  background-color: #b8b8b8;
  cursor: pointer;
}

#helaupdatediv #mindreupdatediv form input[type="submit"]:active {
  background-color: #b9a4a4;
}

/* Profilsidan */
#helaprofildiv {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#helaprofildiv #mindreprofildiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem 0;
}

#helaprofildiv #mindreprofildiv .listProfilDiv {
  height: auto;
  width: 35vw;
  padding: 4rem 6rem;
  margin: 3rem 0;
  background-color: rgba(199, 199, 199, 0.178);
  border-radius: 6px;
}

#helaprofildiv #mindreprofildiv .listProfilDiv ol h1 {
  margin-bottom: 2.5rem;
}

#helaprofildiv #mindreprofildiv .listProfilDiv ol img {
  max-width: 40%;
}

#helaprofildiv #mindreprofildiv .listProfilDiv ol li {
  margin: 1rem 0;
}

#helaprofildiv #mindreprofildiv .listProfilDiv ol li p {
  margin-bottom: 1.5rem;
}

#helaprofildiv #mindreprofildiv .listProfilDiv ol li ul {
  margin-left: 2rem;
}

#helaprofildiv #mindreprofildiv .listProfilDiv ol li ul li p {
  margin: 0;
}

#helaprofildiv #mindreprofildiv .listProfilDiv div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}

#helaprofildiv #mindreprofildiv .listProfilDiv div a {
  display: block;
  padding: 0.5em 2em;
  font-size: 1em;
  background-color: white;
  border-radius: 6px;
  color: black;
}

#helaprofildiv #mindreprofildiv .listProfilDiv div a:hover {
  cursor: pointer;
  background-color: #b8b8b8;
}

#helaprofildiv #mindreprofildiv .listProfilDiv div a:active {
  background-color: #b9a4a4;
}

#helaprofildiv #mindreprofildiv #postList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

#helaprofildiv #mindreprofildiv #postList li {
  margin: 3rem;
  padding: 3rem;
  background-color: rgba(199, 199, 199, 0.178);
  border-radius: 6px;
}

#helaprofildiv #mindreprofildiv #postList li #divInListObject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 50vw;
}

#helaprofildiv #mindreprofildiv #postList li #divInListObject #divForCreator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

#helaprofildiv #mindreprofildiv #postList li #divInListObject #divForCreator a {
  border-bottom: 1px solid rgba(199, 199, 199, 0.178);
  margin: 0 2em 0 0;
}

#helaprofildiv #mindreprofildiv #postList li #divInListObject #divForCreator a:hover {
  border-bottom: 1px solid #FFFFFF;
  font-weight: 900;
}

#helaprofildiv #mindreprofildiv #postList li #divInListObject #divForCreator p {
  font-size: 0.8em;
}

#helaprofildiv #mindreprofildiv #postList li #divInListObject #divForContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem 0 2rem 0;
}

#helaprofildiv #mindreprofildiv #postList li #divInListObject #divForContent * {
  margin: 0 0 0.5em 0;
}

#helaprofildiv #mindreprofildiv #postList li #divInListObject .divForUnderPost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#helaprofildiv #mindreprofildiv #postList li #divInListObject .divForUnderPost div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#helaprofildiv #mindreprofildiv #postList li #divInListObject .divForUnderPost div a {
  display: block;
  color: black;
  padding: 0.5em 2em;
  background-color: white;
  border-radius: 6px;
  font-size: 1em;
}

#helaprofildiv #mindreprofildiv #postList li #divInListObject .divForUnderPost div a:hover {
  cursor: pointer;
  background-color: #b8b8b8;
}

#helaprofildiv #mindreprofildiv #postList li #divInListObject .divForUnderPost div a:active {
  background-color: #b9a4a4;
}

#helaprofildiv #mindreprofildiv #postList li #divInListObject .divForUnderPost div .deleteButton {
  padding: 0.5em 2em;
  background-color: #ff2d2d;
  border-style: none;
  border-radius: 6px;
  font-size: 1em;
  margin: 0;
}

#helaprofildiv #mindreprofildiv #postList li #divInListObject .divForUnderPost div .deleteButton:hover {
  cursor: pointer;
  background-color: #c52525;
}

#helaprofildiv #mindreprofildiv #postList li #divInListObject .divForUnderPost div .deleteButton:active {
  background-color: #b9a4a4;
}

#helaprofildiv #mindreprofildiv #postList li #divInListObject .divForUnderPost #modalDiv {
  display: none;
}

#helaprofildiv #mindreprofildiv #postList li #divInListObject .divForUnderPost #modalDiv .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(199, 199, 199, 0.178);
}

#helaprofildiv #mindreprofildiv #postList li #divInListObject .divForUnderPost #modalDiv .container #deleteBack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: black;
  margin: 0;
  width: 65%;
  padding: 3rem;
  border-radius: 6px;
}

#helaprofildiv #mindreprofildiv #postList li #divInListObject .divForUnderPost #modalDiv .container #deleteBack .deleteChoice button {
  width: 20vw;
  border-style: none;
  padding: 0.8em;
  margin: 1rem;
  border-radius: 6px;
}

#helaprofildiv #mindreprofildiv #postList li #divInListObject .divForUnderPost #modalDiv .container #deleteBack .deleteChoice .cancelBtn {
  background-color: #a7a7a7;
}

#helaprofildiv #mindreprofildiv #postList li #divInListObject .divForUnderPost #modalDiv .container #deleteBack .deleteChoice .cancelBtn:hover {
  background-color: #868686;
  cursor: pointer;
}

#helaprofildiv #mindreprofildiv #postList li #divInListObject .divForUnderPost #modalDiv .container #deleteBack .deleteChoice .cancelBtn:active {
  background-color: #666666;
  cursor: pointer;
}

#helaprofildiv #mindreprofildiv #postList li #divInListObject .divForUnderPost #modalDiv .container #deleteBack .deleteChoice .confirmDelete {
  background-color: #ff2d2d;
}

#helaprofildiv #mindreprofildiv #postList li #divInListObject .divForUnderPost #modalDiv .container #deleteBack .deleteChoice .confirmDelete:hover {
  background-color: #c52525;
  cursor: pointer;
}

#helaprofildiv #mindreprofildiv #postList li #divInListObject .divForUnderPost #modalDiv .container #deleteBack .deleteChoice .confirmDelete:active {
  background-color: #881919;
  cursor: pointer;
}

#helaprofildiv #mindreprofildiv #postList li #divInListObject .divForUnderPost #modalDiv .container #deleteBack form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#helaprofildiv #mindreprofildiv #postList li #divInListObject .divForUnderPost #modalDiv .container #deleteBack form * {
  margin: 0;
}

#helaprofildiv #mindreprofildiv #postList li #divInListObject .divForUnderPost #modalDiv .container #deleteBack form h1 {
  padding: 0.4em;
  margin-bottom: 1rem;
}

#helaprofildiv #mindreprofildiv #postList li #divInListObject .divForUnderPost #modalDiv .container #deleteBack form p {
  margin-bottom: 2rem;
}

#helaprofildiv #mindreprofildiv #postList li #divInListObject * {
  margin: 0 2em 0 0;
}

#helaprofildiv #mindreprofildiv #postList li #divInListObject .likeForm {
  width: 5vw;
}

#helaprofildiv #mindreprofildiv #postList li #divInListObject .likeForm img {
  max-width: 100%;
}

#helaprofildiv #mindreprofildiv #postList li #underPostLike {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* EditProfilsidan */
#editProfile {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#smallereditProfile {
  margin-top: 6rem;
  margin-right: 25rem;
  margin-left: 5rem;
}

/* Errorsidan */
#helaErrorDiv {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */