@import url('https://fonts.googleapis.com/css2?family=Newsreader&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

h1, h2, h3, h4, h5 {
    font-family: 'Newsreader', serif;
}

a {
    text-decoration: none;
}

/* Layout */

body {
    background-color: black;
    /* background: url("/img/background_2.jpg"); */
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

nav {
    height: auto;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    position: fixed;
    transition: 0.2s;
}

nav > ul {
    list-style: none;

    display: flex;
    flex-direction: row;
}

nav > ul > li {
    margin: 2em 2.5em 2em 2.5em;
}

nav > ul > li > * {
    font-weight: 500;
    font-size: 1.2em;
}

nav > ul > li > a:hover {
    font-weight: 900;
}   

#layoutdiv {
    height: 100vh;
}

footer {
    height: 30vh;
}

/* Startsidan */

#helastartdiv {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mindrestartdiv {
    margin-top: 5rem;
    margin-right: 25rem;
}

#startrubrik {
    font-size: 5em;
    margin-bottom: 1.8rem;
}

#starttext {

}

input[type=text], input[type=password], input[type=email], input[type=tel], input[type=date], input[type=checkbox], input[type=submit] {
    color: black;
}

img {
    max-width: 5%;
}

